@{
    ViewBag.Title = "社会评价-人生应该如蜡烛一样，从顶燃到底，一直都是光明的";
}

<div class="body-content">
    <div class="row">
        <div class="col-md-12" style="background: #000099; height: 500px;">

        </div>

        <div class="col-md-12" style="background: #00aef3; height: 500px;">

        </div>

        <div class="col-md-12" style="background: #f86539; height: 500px;">

        </div>

        <div class="col-md-12" style="background: #313b50; height: 500px;">

        </div>

        <div class="col-md-12" style="background: #373d41; height: 500px; ">

        </div>

        <div class="col-md-12" style="background: #96cbeb; height: 500px; ">

        </div>
    </div>
</div>