@{
    ViewBag.Title = "工作教育经历-如果惧怕前面跌宕的山岩，生命就永远只能是死水一潭";
}

<div class="body-content">
    <div class="row experence">
        <div class="col-md-12 ex_row_1" >
            <img src="~/Images/experence01.jpg" />
            <div class="con_c fio fiu">
                <div class="t1">
                    你应该这样过你的一生
                </div>
                <div class="t2">活着，把自己送往更高的生命空间，追求有意义的生活</div>
                <div class="t3">在原来的基础上有所进步，找到适合自己的爱人和道路</div>
                <p>
                    <a class="sybtn" href="" target="_blank">立即查看</a>
                </p>
            </div>
        </div>

        <div class="col-md-12 ex_row_2" style=" height: 500px;">
            <div class="content-title">
                <div>2018年 ~ 2019年</div>
                <span>我的未来一年将在巴西圣保罗度过，和巴西朋友一起工作，一起建立友谊</span>
            </div>
            <div class="content-text">
                <ul>
                    <li class="content-text-left"></li>
                    <li class="content-text-middle"></li>
                    <li class="content-text-right"></li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="col-md-12 ex_row_3" style=" height: 500px;">
            <div class="content-title">
                <div>2017年 ~ 2018年</div>
                <span>我的未来一年将在巴西圣保罗度过，和巴西朋友一起工作，一起建立友谊</span>
            </div>
            <div class="content-text">
                <ul>
                    <li class="content-text-left"></li>
                    <li class="content-text-middle"></li>
                    <li class="content-text-right"></li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="col-md-12 ex_row_4" style=" height: 500px;">
            <div class="content-title">
                <div>2016年 ~ 2017年</div>
                <span>我的未来一年将在巴西圣保罗度过，和巴西朋友一起工作，一起建立友谊</span>
            </div>
            <div class="content-text">
                <ul>
                    <li class="content-text-left"></li>
                    <li class="content-text-middle"></li>
                    <li class="content-text-right"></li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="col-md-12 ex_row_5" style=" height: 500px; ">
            <div class="content-title">
                <div>2015年 ~ 2016年</div>
                <span>我的未来一年将在巴西圣保罗度过，和巴西朋友一起工作，一起建立友谊</span>
            </div>
            <div class="content-text">
                <ul>
                    <li class="content-text-left"></li>
                    <li class="content-text-middle"></li>
                    <li class="content-text-right"></li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="col-md-12 ex_row_6" style=" height: 500px; ">
            <div class="content-title">
                <div>2014年 ~ 2015年</div>
                <span>我的未来一年将在巴西圣保罗度过，和巴西朋友一起工作，一起建立友谊</span>
            </div>
            <div class="content-text">
                <ul>
                    <li class="content-text-left"></li>
                    <li class="content-text-middle"></li>
                    <li class="content-text-right"></li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="col-md-12 ex_row_7" style=" height: 500px;">
            <div class="content-title">
                <div>西南民族大学</div>
                <span>大学之道，在明明德，在亲民，在止于至善。物有本末，事有终始。知所先后，则近道矣。</span>
            </div>
            <div class="content-text">
                <ul>
                    <li class="content-text-left"></li>
                    <li class="content-text-middle"></li>
                    <li class="content-text-right"></li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="col-md-12 ex_row_8" style=" height: 500px;">
            <div class="content-title">
                <div>互助名族中学-高中部</div>
                <span>我的未来一年将在巴西圣保罗度过，和巴西朋友一起工作，一起建立友谊</span>
            </div>
            <div class="content-text">
                <ul>
                    <li class="content-text-left"></li>
                    <li class="content-text-middle"></li>
                    <li class="content-text-right"></li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="col-md-12 ex_row_9" style=" height: 500px;">
            <div class="content-title">
                <div>互助东山中学</div>
                <span>学习改变命运，知识创造未来，尽自己最大努力，走向成功的彼岸</span>
            </div>
            <div class="content-text">
                <ul>
                    <li class="content-text-left"></li>
                    <li class="content-text-middle"></li>
                    <li class="content-text-right"></li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="col-md-12 ex_row_10" style=" height: 500px; ">
            <div class="content-title">
                <div>下李村小学</div>
                <span>把我最美的微笑奉献给我所爱的每一位孩子</span>
            </div>
            <div class="content-text">
                <ul>
                    <li class="content-text-left"></li>
                    <li class="content-text-middle"></li>
                    <li class="content-text-right"></li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="col-md-12 ex_row_11" style=" height: 500px; ">
            <div class="content-title">
                <div>未上幼儿园</div>
                <span>用心关注孩子，用心接纳孩子，用心体会孩子</span>
            </div>
            <div class="content-text">
                <ul>
                    <li class="content-text-left"></li>
                    <li class="content-text-middle"></li>
                    <li class="content-text-right"></li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>

    </div>
</div>