@{
    ViewBag.Title = "首页-无论你觉得自己多么的了不起，也永远有人比你更强；无论你觉得自己多么的不幸，永远有人比你更加不幸";
}

<div class="col-md-12" style="background: #333; margin: 0; padding: 0">
    <div class="swiper-container" style="height:650px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-position: 50% 50%; background-size: cover; width: 100%; background-image: url(https://static.dingtalk.com/media/lADPBbCc1sn1X9rNBQDNB4A_1920_1280.jpg)">
                <div class="slidecontent">
                    <div class="con">
                        <div class="index1_l">
                            <div class="fio fil l1" style="transition-delay: .7s;">
                                装企全流程管理系统
                            </div>
                            <div class="fio fil l2">专为装饰公司量身设计</div>
                            <a href="" class="fio fil btn mt70 ">立即查看</a>
                        </div>
                        <div class="index1_r fio fir">
                            <img src="~/Images/index1_1_r.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-position: 50% 50%; background-size: cover; width: 100%; background-image: url(http://www.1zerp.com/Content/website/newimg/index1_b.jpg)">
                <div class="slidecontent">
                    <div class="con">
                        <div class="index2_l">
                            <div class="fio fil l1" style="transition-delay: .7s;">
                                显著提升签单效率推动业绩增长
                            </div>
                            <div class="fio fil l2">一装ERP：让天下没有难管的装企</div>
                            <a href="" class="fio fil btn mt70 ">立即查看</a>
                        </div>
                        <div class="index2_r fio fir">
                            <img src="~/Images/index1_2_r.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-position: 50% 50%; background-size: cover; width: 100%; background-image: url(https://static.dingtalk.com/media/lADPBbCc1kTWoZDNBQDNB4A_1920_1280.jpg); ">
                <div class="slidecontent">
                    <div class="con">
                        <div class="index3_l">
                            <div class="fio fil l1" style="transition-delay: .7s;">
                                微信小程序 + 公众号微站
                            </div>
                            <div class="fio fil l2">客户装修进度微信消息实时推送</div>
                            <a href="" class="fio fil btn mt70 ">立即查看</a>
                        </div>
                        <div class="index3_r fio fir">
                            <img src="~/Images/index1_3_r.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- 如果需要滚动条
        <div class="swiper-scrollbar"></div> 
        -->
    </div>
</div>

<div class="body-content">
    <div class="row">
        <div class="col-md-12" style="background: #000099; height: 500px;">

        </div>

        <div class="col-md-12" style="background: #00aef3; height: 500px;">

        </div>

        <div class="col-md-12" style="background: #f86539; height: 500px;">

        </div>

        <div class="col-md-12" style="background: #313b50; height: 500px;">

        </div>

        <div class="col-md-12" style="background: #373d41; height: 500px; ">

        </div>

        <div class="col-md-12" style="background: #96cbeb; height: 500px; ">

        </div>
    </div>
</div>