@{
    ViewBag.Title = "个人生活-尽量充实自己, 不要停止学习, 不管学习什么, 语言, 厨艺, 各种技能。";
}

<div class="col-md-12" style="background: #ff6a00; margin: 0; padding: 0">
    <div class="video-bg">
    </div>
        
    <video id="media" controls poster="~/Images/earth.png">
        <source src="~/Videos/1526554215923529.mp4" muted="muted" autoplay="autoplay" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        您的浏览器不支持Video标签。
    </video>
</div>

<div class="body-content">
    <div class="row">
        <div class="col-md-12" style="background: #000099; height: 500px;">
            
        </div>

        <div class="col-md-12" style="background: #00aef3; height: 500px;">

        </div>

        <div class="col-md-12" style="background: #f86539; height: 500px;">

        </div>

        <div class="col-md-12" style="background: #313b50; height: 500px;">

        </div>

        <div class="col-md-12" style="background: #373d41; height: 500px; ">

        </div>

        <div class="col-md-12" style="background: #96cbeb; height: 500px; ">

        </div>
    </div>
</div>