@{
    ViewBag.Title = "个人博客-知识和能力是一点一点积累起来的，要留意有扎实的基础，要留意温习和巩固，不能急于求成";
}


<div class="body-content blog_title">
    <div class="row">
        <div class="col-md-12 blog_bg">
            <div class="col-md-10 col-md-offset-1 header">
                <div class="header-top">
                    <div class="fl">
                        <a href="javascript:;" class="a-img">
                            <img class="is-vip-img is-vip-img-1" data-uid="7001273" src="https://ucenter.51cto.com/images/noavatar_middle.gif">
                        </a>
                    </div>
                    <div class="right">
                        <a href="javascript:;" class="name">李喜邦-Benny的博客</a>
                        <ul class="number-list">
                            <li><span>26</span><p>人气</p></li>
                            <li><span>0</span><p>文章</p></li>
                            <li><span>0</span><p>评论</p></li>
                            <li><span>0</span><p>点赞</p></li>
                            <div class="clearfix"></div>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="right-msg">
                        <a class="siMsg" href="https://home.51cto.com/space?uid=7001273" target="_blank">私信</a>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="header-bottom">
                    <ul class="left-list fl">
                        <li>原创&nbsp;0</li>
                        <li>翻译&nbsp;0</li>
                        <li>转载&nbsp;0</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="bdsharebuttonbox right-list fr bdshare-button-style0-16" data-bd-bind="1556287420043">
                        <p>分享：</p>
                        <a href="javascript:;" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                        <a href="javascript:;" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="javascript:;" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both; margin-bottom: 20px;"></div>

<div class="container body-content wordpress">
    <div class="page">
        <!-- 左边正文部分 -->
        <div class="col-md-9" style="border-bottom: 1px solid #eee; padding-right: 0;">
            <div class="left_area">
                <div class="col-md-12">
                    <div class="item">
                        <div class="userInfo clearfix">
                            <div class="is-vip-bg fl" style="margin-right:10px;">
                                <a href="https://blog.51cto.com/13760351" target="_blank">
                                    <img class="avatar is-vip-img is-vip-img-4" data-uid="13750351" src="~/Images/avatar.jpg">
                                </a><i class="vip-icon vip-icon-4"></i>
                            </div>
                            <a class="name" href="https://blog.51cto.com/13760351" target="_blank">低调的男孩</a>
                            <span class="time">发布于：2 天前</span>
                        </div>
                        <h2>
                            <a href="https://blog.51cto.com/13760351/2384001" target="_blank" title="阿里云服务器安装postfix--邮箱服务（排坑过程详解）">
                                阿里云服务器安装postfix--邮箱服务（排坑过程详解）
                                <span>荐</span>
                            </a>
                        </h2>
                        <p class="con">一、邮件服务需求在实际生产环境中，我们的服务器难免会发生故障，这时候就需要有邮件通知运维人员，及时查出问题，解决问题。所以邮件服务在生产中有着不可或缺的作用！二、操作环境操作系统：CentOS764位三、安装步骤1.直接yum安装yuminstallmailx-y2.修改配置文件vim/etc/mail.rc在末行插入：setfrom=14*2664@qq.comsetsmtp=smtp.qq.c</p>
                        <div class="intro">
                            <a class="jing" href="https://blog.51cto.com/artcommend" target="_blank">精选文章</a>
                            <p class="">阅读&nbsp;<span class="read_num">1625</span></p>
                            <p class="">评论&nbsp;<span class="comment_num">0</span></p>
                            <p class="">收藏&nbsp;<span class="collect_num">2</span></p>
                            <p class="">赞赏&nbsp;<span class="admire_num">0</span></p>
                        </div>
                        <button class="zan favour_num" data-type="1" blog_id="2384001">7</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item">
                        <div class="userInfo clearfix">
                            <div class="is-vip-bg fl" style="margin-right:10px;">
                                <a href="https://blog.51cto.com/13760351" target="_blank">
                                    <img class="avatar is-vip-img is-vip-img-4" data-uid="13750351" src="~/Images/avatar.jpg">
                                </a><i class="vip-icon vip-icon-4"></i>
                            </div>
                            <a class="name" href="https://blog.51cto.com/13760351" target="_blank">低调的男孩</a>
                            <span class="time">发布于：2 天前</span>
                        </div>
                        <h2>
                            <a href="https://blog.51cto.com/13760351/2384001" target="_blank" title="阿里云服务器安装postfix--邮箱服务（排坑过程详解）">
                                阿里云服务器安装postfix--邮箱服务（排坑过程详解）
                                <span>荐</span>
                            </a>
                        </h2>
                        <p class="con">一、邮件服务需求在实际生产环境中，我们的服务器难免会发生故障，这时候就需要有邮件通知运维人员，及时查出问题，解决问题。所以邮件服务在生产中有着不可或缺的作用！二、操作环境操作系统：CentOS764位三、安装步骤1.直接yum安装yuminstallmailx-y2.修改配置文件vim/etc/mail.rc在末行插入：setfrom=14*2664@qq.comsetsmtp=smtp.qq.c</p>
                        <div class="intro">
                            <a class="jing" href="https://blog.51cto.com/artcommend" target="_blank">精选文章</a>
                            <p class="">阅读&nbsp;<span class="read_num">1625</span></p>
                            <p class="">评论&nbsp;<span class="comment_num">0</span></p>
                            <p class="">收藏&nbsp;<span class="collect_num">2</span></p>
                            <p class="">赞赏&nbsp;<span class="admire_num">0</span></p>
                        </div>
                        <button class="zan favour_num" data-type="1" blog_id="2384001">7</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item">
                        <div class="userInfo clearfix">
                            <div class="is-vip-bg fl" style="margin-right:10px;">
                                <a href="https://blog.51cto.com/13760351" target="_blank">
                                    <img class="avatar is-vip-img is-vip-img-4" data-uid="13750351" src="~/Images/avatar.jpg">
                                </a><i class="vip-icon vip-icon-4"></i>
                            </div>
                            <a class="name" href="https://blog.51cto.com/13760351" target="_blank">低调的男孩</a>
                            <span class="time">发布于：2 天前</span>
                        </div>
                        <h2>
                            <a href="https://blog.51cto.com/13760351/2384001" target="_blank" title="阿里云服务器安装postfix--邮箱服务（排坑过程详解）">
                                阿里云服务器安装postfix--邮箱服务（排坑过程详解）
                                <span>荐</span>
                            </a>
                        </h2>
                        <p class="con">一、邮件服务需求在实际生产环境中，我们的服务器难免会发生故障，这时候就需要有邮件通知运维人员，及时查出问题，解决问题。所以邮件服务在生产中有着不可或缺的作用！二、操作环境操作系统：CentOS764位三、安装步骤1.直接yum安装yuminstallmailx-y2.修改配置文件vim/etc/mail.rc在末行插入：setfrom=14*2664@qq.comsetsmtp=smtp.qq.c</p>
                        <div class="intro">
                            <a class="jing" href="https://blog.51cto.com/artcommend" target="_blank">精选文章</a>
                            <p class="">阅读&nbsp;<span class="read_num">1625</span></p>
                            <p class="">评论&nbsp;<span class="comment_num">0</span></p>
                            <p class="">收藏&nbsp;<span class="collect_num">2</span></p>
                            <p class="">赞赏&nbsp;<span class="admire_num">0</span></p>
                        </div>
                        <button class="zan favour_num" data-type="1" blog_id="2384001">7</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item">
                        <div class="userInfo clearfix">
                            <div class="is-vip-bg fl" style="margin-right:10px;">
                                <a href="https://blog.51cto.com/13760351" target="_blank">
                                    <img class="avatar is-vip-img is-vip-img-4" data-uid="13750351" src="~/Images/avatar.jpg">
                                </a><i class="vip-icon vip-icon-4"></i>
                            </div>
                            <a class="name" href="https://blog.51cto.com/13760351" target="_blank">低调的男孩</a>
                            <span class="time">发布于：2 天前</span>
                        </div>
                        <h2>
                            <a href="https://blog.51cto.com/13760351/2384001" target="_blank" title="阿里云服务器安装postfix--邮箱服务（排坑过程详解）">
                                阿里云服务器安装postfix--邮箱服务（排坑过程详解）
                                <span>荐</span>
                            </a>
                        </h2>
                        <p class="con">一、邮件服务需求在实际生产环境中，我们的服务器难免会发生故障，这时候就需要有邮件通知运维人员，及时查出问题，解决问题。所以邮件服务在生产中有着不可或缺的作用！二、操作环境操作系统：CentOS764位三、安装步骤1.直接yum安装yuminstallmailx-y2.修改配置文件vim/etc/mail.rc在末行插入：setfrom=14*2664@qq.comsetsmtp=smtp.qq.c</p>
                        <div class="intro">
                            <a class="jing" href="https://blog.51cto.com/artcommend" target="_blank">精选文章</a>
                            <p class="">阅读&nbsp;<span class="read_num">1625</span></p>
                            <p class="">评论&nbsp;<span class="comment_num">0</span></p>
                            <p class="">收藏&nbsp;<span class="collect_num">2</span></p>
                            <p class="">赞赏&nbsp;<span class="admire_num">0</span></p>
                        </div>
                        <button class="zan favour_num" data-type="1" blog_id="2384001">7</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item">
                        <div class="userInfo clearfix">
                            <div class="is-vip-bg fl" style="margin-right:10px;">
                                <a href="https://blog.51cto.com/13760351" target="_blank">
                                    <img class="avatar is-vip-img is-vip-img-4" data-uid="13750351" src="~/Images/avatar.jpg">
                                </a><i class="vip-icon vip-icon-4"></i>
                            </div>
                            <a class="name" href="https://blog.51cto.com/13760351" target="_blank">低调的男孩</a>
                            <span class="time">发布于：2 天前</span>
                        </div>
                        <h2>
                            <a href="https://blog.51cto.com/13760351/2384001" target="_blank" title="阿里云服务器安装postfix--邮箱服务（排坑过程详解）">
                                阿里云服务器安装postfix--邮箱服务（排坑过程详解）
                                <span>荐</span>
                            </a>
                        </h2>
                        <p class="con">一、邮件服务需求在实际生产环境中，我们的服务器难免会发生故障，这时候就需要有邮件通知运维人员，及时查出问题，解决问题。所以邮件服务在生产中有着不可或缺的作用！二、操作环境操作系统：CentOS764位三、安装步骤1.直接yum安装yuminstallmailx-y2.修改配置文件vim/etc/mail.rc在末行插入：setfrom=14*2664@qq.comsetsmtp=smtp.qq.c</p>
                        <div class="intro">
                            <a class="jing" href="https://blog.51cto.com/artcommend" target="_blank">精选文章</a>
                            <p class="">阅读&nbsp;<span class="read_num">1625</span></p>
                            <p class="">评论&nbsp;<span class="comment_num">0</span></p>
                            <p class="">收藏&nbsp;<span class="collect_num">2</span></p>
                            <p class="">赞赏&nbsp;<span class="admire_num">0</span></p>
                        </div>
                        <button class="zan favour_num" data-type="1" blog_id="2384001">7</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item">
                        <div class="userInfo clearfix">
                            <div class="is-vip-bg fl" style="margin-right:10px;">
                                <a href="https://blog.51cto.com/13760351" target="_blank">
                                    <img class="avatar is-vip-img is-vip-img-4" data-uid="13750351" src="~/Images/avatar.jpg">
                                </a><i class="vip-icon vip-icon-4"></i>
                            </div>
                            <a class="name" href="https://blog.51cto.com/13760351" target="_blank">低调的男孩</a>
                            <span class="time">发布于：2 天前</span>
                        </div>
                        <h2>
                            <a href="https://blog.51cto.com/13760351/2384001" target="_blank" title="阿里云服务器安装postfix--邮箱服务（排坑过程详解）">
                                阿里云服务器安装postfix--邮箱服务（排坑过程详解）
                                <span>荐</span>
                            </a>
                        </h2>
                        <p class="con">一、邮件服务需求在实际生产环境中，我们的服务器难免会发生故障，这时候就需要有邮件通知运维人员，及时查出问题，解决问题。所以邮件服务在生产中有着不可或缺的作用！二、操作环境操作系统：CentOS764位三、安装步骤1.直接yum安装yuminstallmailx-y2.修改配置文件vim/etc/mail.rc在末行插入：setfrom=14*2664@qq.comsetsmtp=smtp.qq.c</p>
                        <div class="intro">
                            <a class="jing" href="https://blog.51cto.com/artcommend" target="_blank">精选文章</a>
                            <p class="">阅读&nbsp;<span class="read_num">1625</span></p>
                            <p class="">评论&nbsp;<span class="comment_num">0</span></p>
                            <p class="">收藏&nbsp;<span class="collect_num">2</span></p>
                            <p class="">赞赏&nbsp;<span class="admire_num">0</span></p>
                        </div>
                        <button class="zan favour_num" data-type="1" blog_id="2384001">7</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item">
                        <div class="userInfo clearfix">
                            <div class="is-vip-bg fl" style="margin-right:10px;">
                                <a href="https://blog.51cto.com/13760351" target="_blank">
                                    <img class="avatar is-vip-img is-vip-img-4" data-uid="13750351" src="~/Images/avatar.jpg">
                                </a><i class="vip-icon vip-icon-4"></i>
                            </div>
                            <a class="name" href="https://blog.51cto.com/13760351" target="_blank">低调的男孩</a>
                            <span class="time">发布于：2 天前</span>
                        </div>
                        <h2>
                            <a href="https://blog.51cto.com/13760351/2384001" target="_blank" title="阿里云服务器安装postfix--邮箱服务（排坑过程详解）">
                                阿里云服务器安装postfix--邮箱服务（排坑过程详解）
                                <span>荐</span>
                            </a>
                        </h2>
                        <p class="con">一、邮件服务需求在实际生产环境中，我们的服务器难免会发生故障，这时候就需要有邮件通知运维人员，及时查出问题，解决问题。所以邮件服务在生产中有着不可或缺的作用！二、操作环境操作系统：CentOS764位三、安装步骤1.直接yum安装yuminstallmailx-y2.修改配置文件vim/etc/mail.rc在末行插入：setfrom=14*2664@qq.comsetsmtp=smtp.qq.c</p>
                        <div class="intro">
                            <a class="jing" href="https://blog.51cto.com/artcommend" target="_blank">精选文章</a>
                            <p class="">阅读&nbsp;<span class="read_num">1625</span></p>
                            <p class="">评论&nbsp;<span class="comment_num">0</span></p>
                            <p class="">收藏&nbsp;<span class="collect_num">2</span></p>
                            <p class="">赞赏&nbsp;<span class="admire_num">0</span></p>
                        </div>
                        <button class="zan favour_num" data-type="1" blog_id="2384001">7</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item">
                        <div class="userInfo clearfix">
                            <div class="is-vip-bg fl" style="margin-right:10px;">
                                <a href="https://blog.51cto.com/13760351" target="_blank">
                                    <img class="avatar is-vip-img is-vip-img-4" data-uid="13750351" src="~/Images/avatar.jpg">
                                </a><i class="vip-icon vip-icon-4"></i>
                            </div>
                            <a class="name" href="https://blog.51cto.com/13760351" target="_blank">低调的男孩</a>
                            <span class="time">发布于：2 天前</span>
                        </div>
                        <h2>
                            <a href="https://blog.51cto.com/13760351/2384001" target="_blank" title="阿里云服务器安装postfix--邮箱服务（排坑过程详解）">
                                阿里云服务器安装postfix--邮箱服务（排坑过程详解）
                                <span>荐</span>
                            </a>
                        </h2>
                        <p class="con">一、邮件服务需求在实际生产环境中，我们的服务器难免会发生故障，这时候就需要有邮件通知运维人员，及时查出问题，解决问题。所以邮件服务在生产中有着不可或缺的作用！二、操作环境操作系统：CentOS764位三、安装步骤1.直接yum安装yuminstallmailx-y2.修改配置文件vim/etc/mail.rc在末行插入：setfrom=14*2664@qq.comsetsmtp=smtp.qq.c</p>
                        <div class="intro">
                            <a class="jing" href="https://blog.51cto.com/artcommend" target="_blank">精选文章</a>
                            <p class="">阅读&nbsp;<span class="read_num">1625</span></p>
                            <p class="">评论&nbsp;<span class="comment_num">0</span></p>
                            <p class="">收藏&nbsp;<span class="collect_num">2</span></p>
                            <p class="">赞赏&nbsp;<span class="admire_num">0</span></p>
                        </div>
                        <button class="zan favour_num" data-type="1" blog_id="2384001">7</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item">
                        <div class="userInfo clearfix">
                            <div class="is-vip-bg fl" style="margin-right:10px;">
                                <a href="https://blog.51cto.com/13760351" target="_blank">
                                    <img class="avatar is-vip-img is-vip-img-4" data-uid="13750351" src="~/Images/avatar.jpg">
                                </a><i class="vip-icon vip-icon-4"></i>
                            </div>
                            <a class="name" href="https://blog.51cto.com/13760351" target="_blank">低调的男孩</a>
                            <span class="time">发布于：2 天前</span>
                        </div>
                        <h2>
                            <a href="https://blog.51cto.com/13760351/2384001" target="_blank" title="阿里云服务器安装postfix--邮箱服务（排坑过程详解）">
                                阿里云服务器安装postfix--邮箱服务（排坑过程详解）
                                <span>荐</span>
                            </a>
                        </h2>
                        <p class="con">一、邮件服务需求在实际生产环境中，我们的服务器难免会发生故障，这时候就需要有邮件通知运维人员，及时查出问题，解决问题。所以邮件服务在生产中有着不可或缺的作用！二、操作环境操作系统：CentOS764位三、安装步骤1.直接yum安装yuminstallmailx-y2.修改配置文件vim/etc/mail.rc在末行插入：setfrom=14*2664@qq.comsetsmtp=smtp.qq.c</p>
                        <div class="intro">
                            <a class="jing" href="https://blog.51cto.com/artcommend" target="_blank">精选文章</a>
                            <p class="">阅读&nbsp;<span class="read_num">1625</span></p>
                            <p class="">评论&nbsp;<span class="comment_num">0</span></p>
                            <p class="">收藏&nbsp;<span class="collect_num">2</span></p>
                            <p class="">赞赏&nbsp;<span class="admire_num">0</span></p>
                        </div>
                        <button class="zan favour_num" data-type="1" blog_id="2384001">7</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item">
                        <div class="userInfo clearfix">
                            <div class="is-vip-bg fl" style="margin-right:10px;">
                                <a href="https://blog.51cto.com/13760351" target="_blank">
                                    <img class="avatar is-vip-img is-vip-img-4" data-uid="13750351" src="~/Images/avatar.jpg">
                                </a><i class="vip-icon vip-icon-4"></i>
                            </div>
                            <a class="name" href="https://blog.51cto.com/13760351" target="_blank">低调的男孩</a>
                            <span class="time">发布于：2 天前</span>
                        </div>
                        <h2>
                            <a href="https://blog.51cto.com/13760351/2384001" target="_blank" title="阿里云服务器安装postfix--邮箱服务（排坑过程详解）">
                                阿里云服务器安装postfix--邮箱服务（排坑过程详解）
                                <span>荐</span>
                            </a>
                        </h2>
                        <p class="con">一、邮件服务需求在实际生产环境中，我们的服务器难免会发生故障，这时候就需要有邮件通知运维人员，及时查出问题，解决问题。所以邮件服务在生产中有着不可或缺的作用！二、操作环境操作系统：CentOS764位三、安装步骤1.直接yum安装yuminstallmailx-y2.修改配置文件vim/etc/mail.rc在末行插入：setfrom=14*2664@qq.comsetsmtp=smtp.qq.c</p>
                        <div class="intro">
                            <a class="jing" href="https://blog.51cto.com/artcommend" target="_blank">精选文章</a>
                            <p class="">阅读&nbsp;<span class="read_num">1625</span></p>
                            <p class="">评论&nbsp;<span class="comment_num">0</span></p>
                            <p class="">收藏&nbsp;<span class="collect_num">2</span></p>
                            <p class="">赞赏&nbsp;<span class="admire_num">0</span></p>
                        </div>
                        <button class="zan favour_num" data-type="1" blog_id="2384001">7</button>
                    </div>
                </div>

            </div>
            
            <!-- 分页设置 -->
            <div class="pagination" id="pagination"></div>
        </div>
        
       <!-- 右边推荐部分 -->
        <div class="col-md-3">
            <div class="right_area">
                <!-- 广告推荐 -->
                <h3 class="BoxTil">广告推荐</h3>
                <div class="advert">
                    <a href="" target="_blank">
                        <img src="../Images/ad.png" />
                    </a>
                    <a href="" target="_blank">
                        <img src="../Images/ad.png" />
                    </a>
                </div>

                <!-- 粉丝榜TOP10 -->
                <h3 class="BoxTil">粉丝榜TOP10</h3>
                <div class="Box BlogerList bd">
                    <ul class="followUsers-list">
                        <li class="num-one">
                            <span class="num-list">1</span>
                            <div class="pic">
                                <div class="is-vip-bg">
                                    <a class="fl" href="https://blog.51cto.com/gingerbeer" target="_blank">
                                        <img class="is-vip-img is-vip-img-0" data-uid="625855" src="~/Images/avatar.jpg">
                                    </a>
                                </div>
                            </div>
                            <a class="name" href="https://blog.51cto.com/gingerbeer" target="_blank">姜汁啤酒</a>
                            <div class="followUsers-right">
                                <a class="number">3984</a>
                                <a id="checkFollow10_625855" class="follow-1 checkFollow on fr">关注</a>
                            </div>
                            <div class="clear"></div>
                        </li>

                        <li class="num-two">
                            <span class="num-list">2</span>
                            <div class="pic">
                                <div class="is-vip-bg">
                                    <a class="fl" href="https://blog.51cto.com/ixdba" target="_blank">
                                        <img class="is-vip-img is-vip-img-0" data-uid="2895551" src="~/Images/avatar.jpg"><i class="vip-icon vip-icon-4 on"></i>
                                    </a>
                                </div>
                            </div>
                            <a class="name" href="https://blog.51cto.com/ixdba" target="_blank">南非蚂蚁</a>
                            <div class="followUsers-right">
                                <a class="number">3136</a>
                                <a id="checkFollow10_2895551" class="follow-1 checkFollow on fr">关注</a>
                            </div>
                            <div class="clear"></div>
                        </li>

                        <li class="num-three">
                            <span class="num-list">3</span>
                            <div class="pic">
                                <div class="is-vip-bg">
                                    <a class="fl" href="https://blog.51cto.com/aminglinux" target="_blank">
                                        <img class="is-vip-img is-vip-img-0" data-uid="4983007" src="~/Images/avatar.jpg">
                                    </a>
                                </div>
                            </div>
                            <a class="name" href="https://blog.51cto.com/aminglinux" target="_blank">阿铭linux</a>
                            <div class="followUsers-right">
                                <a class="number">2531</a>
                                <a id="checkFollow10_4983007" class="follow-1 checkFollow on fr">关注</a>
                            </div>
                            <div class="clear"></div>
                        </li>

                        <li class="">
                            <span class="num-list">4</span>
                            <div class="pic">
                                <div class="is-vip-bg">
                                    <a class="fl" href="https://blog.51cto.com/wangchunhai" target="_blank">
                                        <img class="is-vip-img is-vip-img-0" data-uid="225186" src="~/Images/avatar.jpg">
                                    </a>
                                </div>
                            </div>
                            <a class="name" href="https://blog.51cto.com/wangchunhai" target="_blank">王春海</a>
                            <div class="followUsers-right">
                                <a class="number">2188</a>
                                <a id="checkFollow10_225186" class="follow-1 checkFollow on fr">关注</a>
                            </div>
                            <div class="clear"></div>
                        </li>

                        <li class="">
                            <span class="num-list">5</span>
                            <div class="pic">
                                <div class="is-vip-bg">
                                    <a class="fl" href="https://blog.51cto.com/sery" target="_blank">
                                        <img class="is-vip-img is-vip-img-0" data-uid="10037" src="~/Images/avatar.jpg">
                                    </a>
                                </div>
                            </div>
                            <a class="name" href="https://blog.51cto.com/sery" target="_blank">sery</a>
                            <div class="followUsers-right">
                                <a class="number">2044</a>
                                <a id="checkFollow10_10037" class="follow-1 checkFollow on fr">关注</a>
                            </div>
                            <div class="clear"></div>
                        </li>

                    </ul>
                </div>

                <!-- 热门推荐TOP10 -->
                <h3 class="BoxTil">热门推荐TOP10</h3>
                <div class="Box articles">
                    <div class="list">
                        <ul class="seven-list">
                            <li class="s1"><a href="https://blog.51cto.com/13760351/2384001" target="_blank">阿里云服务器安装postfix--邮箱服务（排坑过程详解）</a></li>
                            <li class="s2"><a href="https://blog.51cto.com/9019400/2383833" target="_blank">针对DNS学习后的一个模拟互联网架构实验</a></li>
                            <li class="s3"><a href="https://blog.51cto.com/14154700/2382975" target="_blank">vSPhere使用vMotion实现虚拟机热迁移详解</a></li>
                            <li class="s4"><a href="https://blog.51cto.com/yttitan/2382465" target="_blank">Samba服务权限配置案例</a></li>
                            <li class="s5"><a href="https://blog.51cto.com/9019400/2381668" target="_blank">利用cobbler 实现系统自动化安装及web管理</a></li>
                            <li class="s6"><a href="https://blog.51cto.com/xvjunjie/2381361" target="_blank">SpringBoot集成FastDFS+Nginx整合基于Token的防盗链</a></li>
                            <li class="s7"><a href="https://blog.51cto.com/sery/2380503" target="_blank">可照搬实施的商超高可用方案：proxmox + haproxy  等</a></li>
                            <li class="s8"><a href="https://blog.51cto.com/billy98/2380061" target="_blank">K8S认证、授权与准入控制(RBAC)详解</a></li>
                            <li class="s9"><a href="https://blog.51cto.com/xiyuxingxia/2378804" target="_blank">CentOS（5.8/6.4）linux生产环境若干优化实战（实用篇）</a></li>
                            <li class="s10"><a href="https://blog.51cto.com/9025736/2378774" target="_blank">ELK之-redis(错误,警告)日志使用filebeat收集</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</div>